.container h2 {
  text-align: center;
  margin: 25px auto;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

#derecha {
  margin-right: 1000px;
}

#myimg{
  width: 900px ;
}



#contenedor{
  height: 105px;
  width: 100%;
  margin: 200px auto;
 cursor: pointer;
}
#cont-iconos{
  height: 130%;
  width: 120%;
  margin: auto;
  border-radius: 70-px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebb60a4b;
  opacity: 0;
  transition: 2s;
  overflow: hidden;
}

video{
  height: 290%;
  width: 200%;
}


span img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#encanta img{
  height: 95px;
  width: 95px;
}
      
  .mostrar1{
      opacity: 0;
  }

  .img{
    width:100%;
  height:auto
    
  }
